<!DOCTYPE html>
{% extends "poll_app/base.html" %}
{% load crispy_forms_tags %}
{% block body_block %}

<h4 class="text-center loginas">You are logged in as : <strong>{{username}}</strong>  </h4>
<h3 class="text-left page">Panel</h3>
{% if ishead %}
<p class="text-left"> Permission : admin</p>
<h2 class="text-left page">Make a new question</h2>
<form class="myform" action="{% url 'panel' %}" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" name="" value="Submit">
</form>
{% endif %}
{% if postingdone %}
  <h3 class="subpage indent" >Your last question was posted</h3>
{% endif %}

<h3 class="text-left page">Previously asked questions</h3>

<ul class="mylist">
{% for p in postedquestions %}
{% if p.id  %}
{% endif %}
  <div class="container">
    <li class="page"><a class="btn btn-secondary" href="{% url 'questions' qid=p.id  %}"><h1>{{p.Title}}</h1></a> <span class="text-right align-bottom">Creation Date :{{p.CreationDate}}</span> </li>

  </div>
{% endfor %}
</ul>

{% endblock %}
